* {
    margin: 0;
    padding: 0;
    /*background: #444444;	*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;   
    -khtml-user-select: none;   
    -moz-user-select: none;    
    -ms-user-select: none;       
    user-select: none;           
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../Shrifts/OpenSansCondensed-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../Shrifts/OpenSansCondensed-Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../Shrifts/OpenSans-Regular.ttf');
    font-weight: normal;
}

.body {
    width: 1902px;
    margin-left: auto;
    margin-right: auto;
    background: #333333;
}

.main_info {
    height: 1040px;
    background-image: url("../Images/background_main_block.png");    
    display: grid;
    grid-template-columns: 150px 1750px;
    margin-bottom: 150px;
}

.contacts {
    display: inline;
    height: 100%;
    width: 150px;
    background: rgba(49, 49, 49, 0.8);
}

.text_contacts {
    height: 25px;
    margin: 625px 63px 15px 62px;
    width: 245px;
    color: #C4C4C4;
    transform: rotate(-90deg);
    transform-origin: top left;

    font-family: 'Open Sans Condensed';
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: bold;
}


.line_contacts {
    margin-top: 55px;
    width: 80px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-90deg);
    transform-origin: top;
    background-color: #C4C4C4;
}

.instagram {
    padding-top: 50px;
    height: 26px;
}

.facebook {
    height: 26px;
}

.vk {
    height: 14px;
}

.youtube {
    height: 18px;
}

.badge {
    margin-top: 30px;
    width: 22px;
    margin-left: auto;
    margin-right: auto;
}

.image_facebook {
    width: 15px;
    margin-left: auto;
    margin-right: auto;
}


#upper_text {
    text-transform: uppercase;
    
}

.header {
    height: 25px;
    width: 100%;
    margin-top: 50px;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed';
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-style: normal;
}

.cover {
    height: 100%;
    width: 1495px ;
    padding-left: 255px;
}

.text_cover {
    margin-right: 63px;
}

.info_about_theatre {
    display: grid;
    grid-template-columns: 540px 370px;
}

.title_theatre {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    height: 79px;
    padding-right: 5px;
}

.text_about_theatre {
    color: white;
    margin-top: 308px;
}

.block_poster {
    height: 570px;
    width: 370px;
    margin: 191px 0 0 125px;
}

.navigation_poster {
    display: block;
    position: relative;
}

.previous_poster {
    display: inline-block;
    left: 0px;
    position: absolute;

    display: grid;
    grid-template-columns: 40px 43px;
    column-gap: 25px;
    width: 108px;
    
}

.next_poster {
    display: inline-block;
    right: 0px;
    position: absolute;

    display: grid;
    grid-template-columns: 43px 40px;
    column-gap: 24px;
    width: 108px;
}

.word_down {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
    width: 43px;

}

.word_up {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 43px;
}

.arrow {
    height: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.image_poster {
    position:relative;
    height: 510px;
    margin-bottom: 35px;
}

.image_poster .overlay {
    position:absolute;
}
.image_poster .overlay_back {
    margin: 20px 0 0 20px;
}


.button_open {
    margin-top: 49px;
    height: 50px;
    width: 160px;
    background: #D1A954;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.phone_number {
    margin-left: 100px;
    font-size: 16px;
    height: 10px;
    letter-spacing: 0.05em;
    padding-bottom: 2px;
    border-bottom: 2.5px solid #D1A954;
    text-transform: capitalize;
}

.about {
    margin-left: auto;
    margin-right: auto;
    height: 457px;
    width: 1110px;
    margin-bottom: 150px;
}

.title_about {
    height: 65px;
    width: 180px;
    margin-bottom: 100px;

    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #D1A954;
    margin-left: auto;
    margin-right: auto;
}

.title_about_text_white {
    color: white;
}

.block_about_theatre {
    height: 292px;
    display: grid;
    grid-template-columns: 475px 285px 350px;
}

.history {
    width: 445px;
}

.number_statistic {
    width: 255px;
}

.picture_teatre {
    width: 350px;
    height: 292px; 
}

.info_history {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.title_history {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.title_num_stat {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
}

.img_places {
    margin-bottom: 10px;
}

.img_theatre {
    margin-bottom: 10px;
}

.stat_places {
    margin-bottom: 20px;  
}

.stat {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #D1A954;
}

.staging {
    height: 715px;
    width: 1902px;
    margin-left: auto;
    margin-bottom: 150px;
}

.title_staging {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D1A954;

    margin-bottom: 100px;
}

.production {
    position:relative;

    margin-left: 132px;
    width: 1770px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.production .name_prod {
    margin: -515px 0 0 40px;
}

.production .find {
    margin: -330px 0 0 171px;
}

.production .date_prod {
    margin: 40px 0 0 -335px;
}

.image_poster .img_prod_1 {
    position:absolute;
}

.name_prod {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;

    height: 30px;
}

.date_prod {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);

}

.awards {
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    width: 1110px;
    background-image: url("../Images/background_achievements.png");
    margin-bottom: 150px;

}

.content_awards {
    margin-left: 190px;
    padding-top: 126px;
    display: grid;
    grid-template-columns: 182px 540px;
    column-gap: 103px;
}

.years {
    height: 298px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D1A954;

}

.status {
    margin-top: 45px;
    height: 200px;
}

.text_best_theatre {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
}

.img_stars {
    margin-bottom: 25px;
}

.partners {
    margin-left: auto;
    margin-right: auto;
    height: 437px;
    width: 1110px;
    background-color: royalblue;
    margin-bottom: 120px;
}


.be_patron {
    margin-left: auto;
    margin-right: auto;
    height: 355px;
    width: 1110px;
    background-color: grey;
    margin-bottom: 80px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    height: 78px;
    width: 1110px;
    
}

.hr_footer {
    height: 1px;
    background: #989898;
    margin-bottom: 30px;
}

.footer_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.copyright {
    width: 100%;
    font: 12px sans-serif;
    color: #989898;    
    text-align: left;
}

.developer {
    width: 100%;
    font: 12px sans-serif;
    color: #989898;    
    text-align: right;
}